.container {
  @apply overflow-x-scroll;
  @apply absolute top-1/2 left-0 right-0;

  // firefox
  scrollbar-width: none;

  // and all the rest
  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  @apply flex gap-8 w-max;

  padding: 0 calc(100vw - 150px);
}

.image {
  user-select: none;
}
