*.swp
.DS_Store

# atom
**/atom/.apm
**/atom/.node-gyp
**/atom/blob-store
**/atom/compile-cache
**/atom/storage
**/atom/packages

# Visual Studio Code
**/vscode/User/globalStorage
**/vscode/User/workspaceStorage
**/vscode/code-settings-sync.txt
**/vscode/extensions
