.blur {
  @apply absolute overflow-hidden top-0 right-0 bottom-0 left-0;

  pointer-events: none;

  &:before {
    @apply absolute top-0 right-0 bottom-0 left-0;

    content: '';
    background-color: rgba(255, 255, 255, 0.35);
    background-blend-mode: multiply;
    backdrop-filter: blur(60px);
    opacity: 0;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.3s background-color ease-in-out, 0.3s opacity ease-in-out,
        0.3s transform ease-in-out;
    }
  }

  .inverse & {
    &:before {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
