$width: 300;

.content {
  @apply text-center;
  @apply relative z-50 overflow-hidden;
  width: #{$width}px;
  height: 240px;
  /** Not using tailwind transform classes due to: https://github.com/vercel/next.js/issues/26902 **/
  // transform: translate(-50%, -50%);
}

.counter {
  @apply pt-8;

  font-size: 5.25rem;
}

.summary {
  // @apply left-1/2;
}

.progress {
  overflow: hidden;
  width: #{$width}px;
  height: #{calc($width / 2)}px;
  /* Hides the filled part of progress bar */
  clip: rect(0, #{$width}px, 150px, 0);
}

.circle {
  @apply absolute rounded-full border-solid border-8 border-grayscale-dark;
  width: #{$width}px;
  height: #{$width}px;
}

.fill {
  @apply border-white;
  clip: rect(150px, 150px, auto, auto);
}
