.content {
  @apply flex flex-col text-center gap-5 z-10 text-white;
}

.counter {
  @apply pt-8;
  font-size: 5.25rem;
}

.progress {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 150px;
  /* Hides the overflow part of the circle */
  // clip: rect(0, 300px, 150px, 0);
}

.circle {
  @apply absolute rounded-full border-solid border-8 border-grayscale-dark;
  width: 300px;
  height: 300px;
}

.fill {
  @apply border-white;
  /* Hides the filled part of progress bar */
  clip: rect(150px, 300px, auto, auto);
}
