$width: 300;

.content {
  @apply w-full h-full flex flex-col items-center justify-center text-center;
  @apply relative z-50 overflow-hidden;
  // width: #{$width}px;
  // height: 240px;
  /** Not using tailwind transform classes due to: https://github.com/vercel/next.js/issues/26902 **/
  // transform: translate(-50%, -50%);
}

.counter {
  @apply pt-8;

  font-size: 5.25rem;
}

.summary {
  // @apply left-1/2;
}

.progress {
  // @apply relative;
  position: absolute;
  width: #{$width}px;
  height: #{calc($width / 2)}px;
  clip: rect(
    0,
    #{$width}px,
    150px,
    0
  ); /* Hides the filled part of progress bar */
}

.circle {
  @apply absolute rounded-full border-solid border-8 border-grayscale-dark;
  width: #{$width}px;
  height: #{$width}px;
}

.fill {
  @apply border-white;
  clip: rect(#{calc($width / 2)}px, #{$width}px, auto, auto);
  // animation-duration: 2s;
  // animation-name: fill-progress;
  // animation-fill-mode: forwards;
  // will-change: transform;
}

// @keyframes fill-progress {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(148deg);
//   }
// }
