.wrap {
  @apply relative h-screen w-full flex flex-col items-center justify-center;
}

.image {
  @apply absolute h-full w-screen object-cover;
}

.content {
  @apply flex flex-col text-center gap-5 z-10 text-white;
}

.counter {
  @apply pt-8;
  font-size: 5.25rem;
}

.progress {
  @apply relative overflow-hidden;
  width: 300px;
  height: 150px;
}

.circle {
  @apply absolute rounded-full border-solid border-8 border-grayscale-dark;
  width: 300px;
  height: 300px;

  &:not(.fill) {
    opacity: 0.2;
  }
}

.fill {
  @apply border-white;
  /* Hides the filled part of progress bar */
  clip: rect(150px, 300px, auto, auto);
}
