.imagesList {
  @apply flex gap-8;
  cursor: grab;

  img {
    @apply mb-2;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    @apply rounded h-px;
    height: 100px; // TODO: remove
  }

  &::-webkit-scrollbar-track {
    @apply bg-grayscale mx-8;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-helsinkiBlue rounded;
  }
}

.imageWrap {
  @apply flex-shrink-0;

  transition: all 1s ease-in-out;

  opacity: 1;
  margin-left: 0;

  &.offscreen {
    opacity: 0;
    margin-left: 8em;
  }
}
