/* only apply to "screen" (leave "print" alone) */
@media screen {
  html,
  body {
    /* remove scrollbar on mobile */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden; */
    height: 100vh;
    width: 100vw;
  }

  #root {
    /* height: 100vh;
    width: 100vw; */
  }
}

*[hidden] {
  display: none;
}
