.overlay {
  @apply z-10;
  @apply fixed top-0 right-0 bottom-0 left-0;
  @apply bg-helsinkiBlue-dark opacity-0 transition-opacity duration-700;

  pointer-events: none;
  touch-action: none;

  @screen lg {
    @apply hidden;
  }
}

.open {
  @apply opacity-70;

  pointer-events: initial;
  touch-action: initial;
}
