.wrap {
  overflow: visible;
  z-index: 1;
}

.quantity {
  border-width: 2px;
  border-style: solid;
}

.button {
  display: flex;

  height: 3rem;
}

.static {
  justify-content: center;
  align-items: center;
  width: 3.5rem;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.static:not([disabled]) {
  cursor: pointer;
}

.dynamic {
  align-items: stretch;
  border-radius: 1.5rem;
}
