.wrap {
  position: sticky;
  width: 100%;
}

.paper {
  height: 100%;
}

.heading {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.trigger {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 1rem;
}

.content {
  position: absolute;
  top: 100%;

  height: 0;
  width: 100%;
}

.open {
  height: auto;
}

.scrollbar {
  /* leave space for header, nav heading, and backdrop to show */
  max-height: calc(100vh - 4rem - 4rem - 2rem);
}

@media (min-width: 44rem) {
  .wrap {
    position: fixed;
    bottom: 0;

    /* height: 100%; */

    overflow: hidden;

    /* override inline style (for mobile) */
    z-index: auto !important;
  }

  .heading,
  .backdrop {
    display: none;
  }

  .content {
    position: static;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .open {
    /* in case open is still set, and screen is resized */
    height: 100%;
  }

  .scrollbar {
    max-height: none;
  }

  .spacer {
    display: none;
  }
}

.backdrop {
  z-index: 1;
}
