.header {
  display: flex;
  flex-direction: row-reverse;
}

.wrap {
  display: flex;
}

.sidebar {
  position: fixed;
}

.main {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
}
