@font-face {
  font-family: 'AkkuratLL';
  src: url('/fonts/AkkuratLL-Regular.woff2') format('woff2'),
    url('/fonts/AkkuratLL-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'AkkuratLL';
  src: url('/fonts/AkkuratLL-Light.woff2') format('woff2'),
    url('/fonts/AkkuratLL-Light.woff') format('woff');
  font-weight: 300;
}
