.main {
  flex-grow: 1;

  margin: 0 auto;

  width: 63rem;
  max-width: 100%;
}

.content {
  padding: 1rem;
}

@media (min-width: 44rem) {
  .main {
    margin-left: 16rem; /* allow space for sidebar */

    padding: 2rem 1rem;
  }

  .content {
    padding: 0;
  }
}
