.item {
  @apply flex-shrink-0 px-5 relative text-helsinkiBlue-dark lg:px-9;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    @media (min-width: ${theme`screens.lg`}) {
      height: 10px;
      width: 10px;
    }
  }
}
