.item {
  @apply flex-shrink-0 relative;

  &:not(:last-child):after {
    @apply text-xl font-black mx-8;

    content: '\2022';
  }
}

.text {
  @apply text-xl whitespace-nowrap lg:text-3xl;

  &:before {
    content: '“';
  }

  &:after {
    content: '”';
  }
}
